.one{
    background-color: pink;
    color: blue;
}
.two{
    background-color: red;
}
.two ul{
    display: flex;
    list-style-type:none;
    justify-content: space-between;
    width: 20%;
}
.three{
    background-color: yellow;
    width: 500px;
    height: 500px;   
}
.four{
    background-color: black;
    width: 500px;
    height: 500px;
}
.five{
    background-color: red;
    width: 500px;
    height: 500px;   
}
.six{
    display: flex;
    color: blue;
    text-align: center;
}
p{
    color: brown;
    text-align: center;
    width: 50%;
    margin-left: 100px;
}