.one{
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 600px;
    width: 400px;
    background-size: cover;
    margin: 30vh auto auto 38vw;
    border: 1px solid ;
}
.two{
    height: 200px;
    width: 400px;
    border: 1px solid white;
    margin-top: 450px;
    margin-left: -2px;
    color: #5752ab;
    background-color: #ffffff;
    border-radius: 40px ;
    text-align: center;
}
h3{
    color: #323f4b;
}
button{
    margin-left: 20px;
  
    padding: 10px;
    border-radius: 10px;

}
.three{
    background-color: #5752ab;
    color: #ffffff;
    border-color: #5752ab ;
    margin-right: 15px;
}